{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}


{# nu de block content op in de main pagina vullen #}
{% block content %}
	{# Loop #}

	<div class="row">
		{% for recept in data %}
			<div class="col-md-12" style="margin-right: -140px;">
				<div class="card" style="flex-direction: row; width: 1000px; height: 550px">
					<img class="card-img-top imagedetail" alt="Thumbnail" src="{{recept.foto}}">
					<div class="card-block">
						<div class="detailinfo">
							<i class="fas fa-user-friends fa-2x" style="margin-left: 30px; color: #DC3439"></i>
							<p class="information">4</p>
							<i class="fas fa-euro-sign fa-2x" style="margin-left: 5px; color: #DC3439;"></i>
							<p class="information">{{recept.prijs_totaal}},-</p>
							<i class="fas fa-fire-alt fa-2x" style="margin-left: 5px; color: #DC3439;"></i>
							<p class="information">{{recept.calorie_totaal}}</p>
						</div>

						<div class="row">
							<div class="col-md-8">
								<h1 class="card-title-detail" ;>
									{{ recept.titel }}
								</h1>
							</div>
							<div class="col-md-4">
								{% for i in 1..5 %}
									{% if loop.index <= recept.gemiddelde_waardering %}
										<i class="fas fa-star stardetail" data-value="{{loop.index}}"></i>
									{% else %}
										<i class="far fa-star stardetail" data-value="{{loop.index}}"></i>
									{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="uitleg">
						{{recept.uitleg}}
						</div>
						<div >
							<button type="submit" class="btn btn-primary oplijst">
							<a href="index.php?recept_id={{recept.id}}&user_id=6&action=boodschappenToevoegen">
							<h1 style="font-size: 40px; color:white">Op Lijst</h1>
							</a>
							</button>
							<a href="index.php?recept_id={{recept.id}}&user_id=6&record_type=F&action=favoriet">
					
								{% if recept.favorieten  %}
									<a href="index.php?recept_id={{recept.id}}&user_id=6&record_type=F&action=favorietVerwijderen">
									<i class="fas fa-heart fa-3x heart"></i>
									</a>

								{% else %}
									<a href="index.php?recept_id={{recept.id}}&user_id=6&record_type=F&action=favorietToevoegen">
									<i class="far fa-heart fa-3x heart"></i>
								{% endif %}
					
						</div>
					</div>
				</div>
			</div>


<div class="col-md-12">
	<div class="card" style=" width: 1000px; height: 605px; overflow-y: scroll;">
		<ul class="nav nav-tabs sticky-top" style="background-color: white; border-radius: 50px 50px 0 0;">
			<li class="nav-item">
				<a class="nav-link active" href="#ingredienten" data-toggle="tab"><h1 class="pills">Ingredienten</h1></a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="#bereidingswijze" data-toggle="tab"><h1 class="pills">Bereidingswijze</h1></a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="#opmerkingen" data-toggle="tab"><h1 class="pills">Opmerkingen</h1></a>
			</li>
		</ul>

<div class="tab-content">
	
		<div id="ingredienten" class="tab-pane fade active show ">
			{% for ingredient in recept.ingredienten %}
			<img class="ingredientimage" src="{{ingredient.afbeelding}}">
			<div>
			<h1 style="color:#6f8723; margin-top: 30px; margin-left: 130px;">{{ingredient.naam}}</h1>
			<p style="margin-left: 130px;">{{ingredient.omschrijving}}</p>
			<h5 style="display:inline; color:#6f8723; margin-left: 132px;">Hoeveelheid:</h5>
			<p style="display: inline; margin-left: 10px; font-size: 15px; ">{{ingredient.hoeveelheid}}{{ingredient.eenheid}}</p>
			</div>
			{% endfor %}
		</div>
				
	<div id="bereidingswijze" class="tab-pane fade ">
	{% for bereidingen in recept.bereidingen %}
	<ul style="width: 140px; height: 90px;">
		<li class="stappen" >{{bereidingen.stap}}</li>
	</ul>
			<p style="margin-left: 180px; width: 500px; margin-top: -100px; margin-bottom: 40px; font-weight: 600">{{bereidingen.bereiding}}</p>
	{% endfor %}
	</div>

	<div id="opmerkingen" class="tab-pane fade ">
	{% for opmerkingen in recept.opmerkingen %}

		<img class="userphoto" src="{{opmerkingen.afbeelding}}">
		<h1 style="color:#6f8723; margin-left: 190px; margin-top: -100px;">{{opmerkingen.gebruikersnaam}}</h1>
			<p style="margin-left: 190px; margin-bottom: 50px; font-weight:600">{{opmerkingen.opmerking}}</p>
		
			{% endfor %}
	</div>
</div>



		</div>
	</div>
{% endfor %}
</div>
{% endblock %}

